APP_NAME=ApiBlueprint
APP_ENV=production
APP_KEY=base64:PROVISIONAR_FUERA_DEL_REPOSITORIO
APP_DEBUG=false
APP_URL=https://apiblueprint.example.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=es

LOG_CHANNEL=stack
LOG_LEVEL=warning

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

DB_CONNECTION=sqlite
